/* Base Styles */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300;1,400;1,600&family=Poppins:ital@1&display=swap");
html {
  margin: 0;
  padding: 0;
  background: #051226;
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100%;
  min-width: 100%;
  min-height: 100vh;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  color: #FFF;
  overflow-x: hidden;
  background: #051226;
  background: linear-gradient(14deg, #051226 0%, #091037 100%);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@keyframes pulse {
  35% {
    opacity: 0.7;
    /*     transform: scale(1.05); */
    filter: blur(0.3rem);
  }
}
h1 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

h4 {
  font-family: "Montserrat", sans-serif;
}

h5 {
  font-family: "Montserrat", sans-serif;
}

h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  margin: 0;
}

p, li {
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
}

a {
  color: #FFF;
  transition: color 0.44s ease;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
a:hover {
  color: #809fff;
}

span {
  font-family: "Montserrat", sans-serif;
}

ul > li, ol > li {
  margin-top: 0.3rem;
}
ul > a, ol > a {
  margin-top: 0.3rem;
}

body #bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5em;
  background: rgba(0, 0, 0, 0.2);
}
body #bio .vitals {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
body #bio .vitals .pfp {
  max-width: 100px;
  border-radius: 50%;
  width: 20%;
}
body #bio .vitals .title {
  width: calc(80% - 1.5rem);
  margin-left: 1.5rem;
  align-items: center;
}
body #bio .vitals .title .name {
  display: inline-block;
}
body #bio .vitals .title .pronoun {
  display: inline-block;
  margin-left: 5px;
  font-size: 0.9rem;
  font-weight: 300;
  font-style: italic;
}
body #bio .vitals .title .category {
  font-size: 0.9rem;
}
body #bio .vitals .title .socials ul.social-nav {
  margin: 1rem auto 0 0;
  padding: 0;
}
body #bio .vitals .title .socials ul.social-nav a {
  color: #FFF;
}
body #bio .vitals .title .socials ul.social-nav a i {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
body #bio .vitals .title .socials ul.social-nav a:hover {
  color: #809fff;
}
body #bio .vitals .description {
  margin-top: 0.4rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0.5rem;
}
body #bio .vitals .description span {
  font-size: 0.9rem;
  display: inline-block;
  margin: 0.25rem 1rem 0.25rem 0;
  color: #E7E7E7;
}
body #bio .vitals .description span i {
  margin-right: 5px;
}
body #bio .vitals .description span.version {
  width: 100%;
  display: block;
  margin: 0.5rem 0 0.25rem 0;
}
body #bio .vitals .description span a {
  color: #809fff;
}
body #bio .vitals .description span a:hover {
  color: #FFF;
}
body #bio .vitals .description .availability {
  width: 100%;
  display: flex;
  margin: 0.5rem 0 0.25rem 0;
  align-items: center;
}
body #bio .vitals .description .availability .light {
  background-color: green;
  border-radius: 0.5rem;
  height: 0.8rem;
  width: 0.8rem;
  opacity: 0.3;
  filter: blur(0.2rem);
  animation: pulse 2s ease infinite;
}
body #bio .vitals .description .availability span {
  margin-left: 1rem;
}

body #main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body #main .navigation {
  max-width: 100%;
  padding: 1rem;
}
body #main .navigation ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  padding: 5px;
  list-style-type: none;
  margin: 0;
  max-width: 100%;
}
body #main .navigation ul a {
  margin: 0 auto 0 0;
  position: relative;
}
body #main .navigation ul a.active:after {
  content: "";
  width: 95%;
  margin: 0 auto;
  height: 2px;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: -8px;
  background: #809fff;
}
body #main .card {
  margin-top: 0.5rem;
  padding: 1rem 0;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
  margin-bottom: 1rem;
  max-width: 100%;
}
body #main .card.active {
  display: block;
  opacity: 1;
  visibility: visible;
}
body #main .card .heading {
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 1.5rem;
  padding: 0;
}
body #main .card .entry {
  max-width: 100%;
  padding: 1.5rem;
}
body #main .card .entry:nth-child(even) {
  background: rgba(0, 0, 0, 0.2);
}
body #main .card .entry .top {
  width: 100%;
  max-width: 100%;
}
body #main .card .entry .top > h3 {
  display: inline-block;
  margin-top: 0;
  margin: 0 0 0.3rem 0;
}
body #main .card .entry .top .external-link {
  display: inline-block;
  margin-left: 8px;
}
body #main .card .entry .top .year {
  display: block;
  font-weight: 100;
  margin: 0.3rem 0 0.3rem 0;
}
body #main .card .entry .top .sub {
  margin: 0.3rem 0 0.3rem 0;
  font-weight: 300;
}
body #main .card .entry ol {
  list-style-type: disc;
}
body #main .card .entry ul a {
  line-height: 24px;
  display: block;
  font-weight: bold;
}
body #main .card .entry a {
  color: #809fff;
}
body #main .card .entry a:hover {
  color: #FFF;
}
body #main #overview {
  padding: 1rem 1.5rem;
}
body #main #overview .heading {
  padding: 0;
}
@media screen and (max-width: 767px) {
  body #main #overview .heading {
    display: none;
  }
}
body #main #skills .skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1rem;
}
body #main #skills .skill-container .skill-block {
  padding: 0.5rem;
  background-color: #809fff;
  font-size: 1rem;
  border-radius: 8px;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-right: 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  align-self: center;
}
body #main #skills .skill-container .skill-block.code {
  background-color: #005a00;
}
body #main #skills .skill-container .skill-block.tech {
  background-color: #eabfff;
}
body #main #skills .skill-container .skill-block.etc {
  background-color: #b3a589;
}

@media screen and (min-width: 767px) {
  #bio .top {
    position: relative;
  }
  #bio .top .vitals {
    justify-content: left;
  }
  #bio .top .vitals .pfp {
    display: none;
  }
  #bio .top .vitals .title {
    margin-left: 0.5rem;
    width: auto;
  }
  #bio .top .socials {
    position: absolute;
    width: auto;
    bottom: 0;
    right: 0;
  }
  #bio .top .availability {
    position: absolute;
    width: auto !important;
    top: 0;
    right: 0;
  }

  #main {
    display: grid !important;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(4, minmax(200px, auto));
    grid-template-areas: "overview ." "experience  ." ".  skills" "education .";
  }
  #main .navigation {
    display: none;
  }
  #main .card {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
  #main .card#overview {
    grid-area: overview;
    grid-row: 1/2;
  }
  #main .card#experience {
    grid-area: experience;
    grid-row: 2/3;
  }
  #main .card#skills {
    grid-area: skills;
    grid-row: 1/2;
    position: relative;
  }
  #main .card#skills .heading {
    text-align: center;
  }
  #main .card#skills .skill-container {
    position: absolute;
  }
  #main .card#education {
    grid-area: education;
    grid-row: 3/4;
  }
}
footer {
  padding: 0.5rem;
  text-align: center;
  margin-top: auto;
}
footer span {
  font-size: 0.8rem;
  opacity: 0.1;
}
