/* Base Styles */
body {
  font-size: 16px;
  margin: 0;
  background: #010004;
  background: linear-gradient(14deg, #010004 0%, #00085c 100%);
  color: #FFF;
  display: flex;
  flex-direction: column;
}

body #bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}
body #bio .vitals {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
body #bio .vitals .pfp {
  max-width: 150px;
  border-radius: 50%;
}

body #main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}
body #main .navigation {
  width: 100%;
}
body #main .navigation ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 5px;
}
body #main .navigation ul li {
  flex: 1;
  display: inline-block;
}
