/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1, h2, h3, h4, h5, h6, p, span, li, a {
  font-family: "Montserrat", sans-serif;
}

#main h1, #main h2, #main h3, #main h4, #main h5, #main h6 {
  color: #8E94F2;
}
#main p {
  line-height: 1.6em;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: #65DEF1;
  transition: color 0.33s ease;
  position: relative;
}
a::after {
  content: "";
  border-radius: 4px;
  height: 1px;
  width: 0;
  background-color: #8E94F2;
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  opacity: 0.8;
  transition: all 0.33s ease-in-out;
}
a:hover::after {
  width: 100%;
}

i[class^=fa-] {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
}

i[class^=fa-brands] {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
}

@keyframes pulse {
  35% {
    opacity: 0.7;
    /*     transform: scale(1.05); */
    filter: blur(0.3rem);
  }
}
@media screen and (min-width: 767px) {
  .mobile-only {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}

@media screen and (max-width: 767px) {
  .desktop-only {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 1rem 2.6rem;
  background-color: #FFFBF5;
  color: #000;
  position: relative;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 600px) {
  header {
    align-items: flex-start;
    flex-direction: column;
  }
}
header .bio .name {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
header .bio .name h6 {
  font-size: 1.5rem;
  font-weight: 600;
}
header .bio .name span {
  margin-left: 10px;
  font-style: italic;
  font-size: 0.8rem;
  align-self: center;
}
header .bio .meta {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  header .bio .meta {
    flex-direction: column;
  }
}
header .bio .meta .linkout {
  margin-left: 10px;
}
@media (max-width: 767px) {
  header .bio .meta .linkout {
    margin: 10px 0 0 0;
  }
}
header .right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (max-width: 600px) {
  header .right .availability {
    margin-top: 1rem;
  }
}
header .right .availability .light {
  display: inline-block;
  margin-right: 10px;
  background-color: green;
  border-radius: 0.5rem;
  height: 0.8rem;
  width: 0.8rem;
  opacity: 0.3;
  filter: blur(0.2rem);
  animation: pulse 2s ease infinite;
}
header .right .social-nav {
  display: flex;
  margin: 10px 0 0 0;
  padding: 0;
  justify-content: flex-end;
  list-style-type: none;
}
@media (max-width: 767px) {
  header .right .social-nav {
    display: none;
  }
  header .right .social-nav li {
    width: 20%;
  }
}
header .right .social-nav li {
  margin-right: 10px;
  font-size: 1.8rem;
}
header .right .social-nav li i {
  align-self: center;
}

body {
  background: linear-gradient(190deg, #00102e 0%, black 100%);
  color: #FFF;
  display: flex;
  justify-content: center;
  padding: 6em 3em;
}

#main {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2em;
}
#main .alt-design .inner {
  padding: 1em 2em;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.05);
}
#main #header {
  grid-column: span 5;
  display: flex;
  justify-content: space-between;
}
#main #header .bio .name {
  display: flex;
  align-items: center;
}
#main #header .bio .name > h6 {
  font-size: 1.5em;
  padding-right: 10px;
}
#main #header .bio .name > span {
  font-style: italic;
  font-size: 0.8em;
  opacity: 0.3;
}
#main #header .bio .meta {
  margin-bottom: 0.2em;
}
#main #header .bio .meta .loc {
  margin-right: 10px;
  font-size: 0.8em;
}
#main #header .bio .meta .linkout {
  font-size: 0.8em;
}
#main #header .bio .meta .loc i, #main #header .bio .meta .linkout i {
  padding-right: 5px;
}
#main #header .bio .version {
  font-size: 0.8em;
  opacity: 0.7;
}
#main #header .bio .version i {
  padding-right: 5px;
}
#main #header .right > h6 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
#main #header .right ul.social-nav {
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  list-style-type: none;
  gap: 10px;
  font-size: 1.6em;
}
#main #about {
  grid-column: span 3;
}
#main #about > h6 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
#main #about .inner .link {
  font-weight: bold;
  font-size: 0.9em;
}
#main #about .inner .about_connect {
  padding: 1em 2em;
  text-align: center;
}
#main #about .inner .about_connect ul.social-nav {
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  list-style-type: none;
  gap: 20px;
  font-size: 2.5em;
}
#main #about .inner .about_connect .link {
  margin-top: 1em;
}
#main #experience {
  grid-column: span 5;
}
#main #experience > h6 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
#main #experience .inner .company > h1 {
  color: #FFF;
  margin-bottom: 0.5em;
}
#main #experience .inner .company .job-wrapper {
  margin-left: 2em;
  padding-left: 1em;
  position: relative;
}
@media screen and (max-width: 767px) {
  #main #experience .inner .company .job-wrapper {
    margin-left: 0;
  }
}
#main #experience .inner .company .job-wrapper::before {
  content: " ";
  display: block;
  position: absolute;
  left: -0.5em;
  top: 10px;
  height: calc(100% - 20px);
  width: 2px;
  background-color: rgba(255, 255, 255, 0.7);
}
#main #experience .inner .company .job-wrapper .job {
  margin-bottom: 3em;
}
#main #experience .inner .company .job-wrapper .job .role {
  position: relative;
  font-weight: bold;
}
#main #experience .inner .company .job-wrapper .job .role::before {
  content: " ";
  display: block;
  width: 1em;
  height: 1em;
  background-color: #B1B1B1;
  border-radius: 50%;
  position: absolute;
  left: -31px;
  top: 50%;
  transform: translateY(-50%);
}
#main #experience .inner .company .job-wrapper .job .role::after {
  position: absolute;
  content: " ";
  background: #FFF;
  opacity: 0.7;
  bottom: -3px;
  width: 25%;
  left: 0;
  height: 2px;
  border-radius: 4px;
}
#main #experience .inner .company .job-wrapper .job .role.active::before {
  border: 2px solid #306B34;
  width: 1.2em;
  height: 1.2em;
  left: -32px;
  background-color: #FFF;
}
#main #experience .inner .company .job-wrapper .job .timeline {
  display: block;
  margin-top: 0.3em;
  font-size: 0.8em;
  opacity: 0.4;
}
#main #skills {
  grid-column: span 5;
}
#main #skills > h6 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
#main #skills .inner .skill-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
  flex-wrap: wrap;
  margin-top: 0.7em;
}
#main #skills .inner .skill-wrapper .skill {
  display: flex;
  padding: 8px 12px;
  border-radius: 40px;
  align-items: center;
}
#main #skills .inner .skill-wrapper .skill .icon {
  padding-right: 5px;
  font-size: 1.1em;
  color: #FFF;
}
#main #skills .inner .skill-wrapper .skill .type {
  font-size: 1.1em;
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
#main #skills .inner .skill-wrapper .skill:nth-child(10n+1) {
  background: #1982C4;
}
#main #skills .inner .skill-wrapper .skill:nth-child(10n+2) {
  background: #FF595E;
}
#main #skills .inner .skill-wrapper .skill:nth-child(10n+3) {
  background: #8C93A8;
}
#main #skills .inner .skill-wrapper .skill:nth-child(10n+4) {
  background: #4D7C8A;
}
#main #skills .inner .skill-wrapper .skill:nth-child(10n+5) {
  background: #C16200;
}
#main #skills .inner .skill-wrapper .skill:nth-child(10n+6) {
  background: #FF66B3;
}
#main #skills .inner .skill-wrapper .skill:nth-child(10n+7) {
  background: #2B2D42;
}
#main #skills .inner .skill-wrapper .skill:nth-child(10n+8) {
  background: #4E0110;
}
#main #skills .inner .skill-wrapper .skill:nth-child(10n+9) {
  background: #5F0A87;
}
#main #skills .inner .skill-wrapper .skill:nth-child(10n+10) {
  background: #9FA0C3;
}
@media (max-width: 830px) {
  #main #about, #main #experience, #main #skills {
    grid-column: span 5;
  }
}

footer {
  width: 100%;
  max-width: 100%;
  padding: 3rem 2.6rem;
  margin: 0;
  background-color: #000;
  color: #FFF;
  text-align: center;
}
footer .social-nav {
  list-style-type: none;
  word-spacing: 1rem;
  padding: 0;
  margin: 0 auto;
}
footer .social-nav li {
  font-size: 2rem;
  display: inline-block;
}
footer .social-nav li a {
  color: #FD4556;
}
footer .social-nav li a:hover {
  color: #BD3944;
}
footer .credit {
  font-size: 0.8rem;
  color: #FFF;
  opacity: 0.5;
  text-align: center;
}
