#main {
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    #about {
        margin: .6rem;
        width: calc(60% - (.6rem * 2));
        padding-right: 1.8rem;
        max-width: 800px;
        h6 {
            font-size: 1.5rem;
            color: #FD4556;
            margin-bottom: .5rem;
            padding: 0 1rem;
        }
        .inner {
            background: #000;
            border-radius: 10px;
            color: #FFFBF5;
            padding: 1rem;
            p {
                line-height: 1.6rem;
                &:not(:first-child) {
                    margin-top: 1rem;
                    font-weight: bold;
                }
            }
        }
    }
    #publications {
        margin: .6rem;
        flex: 1;
        h6 {
            font-size: 1.5rem;
            color: #FD4556;
            margin-bottom: .5rem;
            padding: 0 1rem;
        }
        .inner {
            background: #000;
            border-radius: 10px;
            color: #FFFBF5;
            padding: 1rem;
            // publication
            .pub {
                margin-bottom: 1rem;

                h2 {
                    color: inherit;
                }

                .sub-title {
                    color: #BD3944;
                    font-weight: bold;
                }
            
                .year {
                    color: #FFFBF5;
                    display: block;
                    font-style: italic;
                }
            }
        }
    }
    #experience {
        width: calc(100% - (.6rem * 2));
        margin: .6rem;
        h6 {
            font-size: 1.5rem;
            color: #FD4556;
            margin-bottom: .5rem;
            padding: 0 1rem;
        }
        .inner {
            background: #000;
            border-radius: 10px;
            color: #FFFBF5;
            padding: 1rem;
            .title {
                color: #FFFBF5;
            }
            .timeline {
                color: #FFFBF5;
                font-size: .8rem;
                margin: 0;
                padding: 0;
            }
        }
    }
    // MOBILE 
    @media (max-width: 767px) {
        #about, #publications {
            width: calc(100% - (.6rem * 2));
        }
        #about {
            order: 1;
            padding-right: 0;
        }
        #experience {
            order: 2;
        }
        #publications {
            order: 3;
        }
    }
}