footer {
    width: 100%;
    max-width: 100%;
    padding: 3rem 2.6rem;
    margin: 0;
    background-color: #000;
    color: #FFF;
    text-align: center;
    .social-nav {
        list-style-type: none;
        word-spacing: 1rem;
        padding: 0;
        margin: 0 auto;
        li {
            font-size: 2rem;
            display: inline-block;
            a {
                color: #FD4556;
                &:hover {
                    color: #BD3944;
                }
            }
        }
    }
    .credit {
        font-size: .8rem;
        color: #FFF;
        opacity: .5;
        text-align: center;
    }
}