//bio
body {
    #bio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.5em 1.5rem 0 1.5rem;
        background: rgba(0, 0, 0, .2);
        // top section
        .vitals {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            // pfp image 
            .pfp {
                max-width: 100px;
                border-radius: 50%;
                width: calc(100% / 5);
            }
            // titles
            .title {
                width: calc(80% - 1.5rem);
                margin-left: 1.5rem;
                align-items: center;
                .name {
                    display: inline-block;
                }
                .pronoun {
                    display: inline-block;
                    margin-left: 5px;
                    font-size: .9rem;
                    font-weight: 300;
                    font-style: italic;
                }
                .category {
                    font-size: .9rem;
                }
                // social nav 
                .socials ul.social-nav {
                    margin: 1rem auto 0 0;
                    padding: 0;
                    a {
                        color: $white;
                        i {
                            margin-right: .5rem;
                            font-size: 1.5rem;
                        }
                        &:hover {
                            color: $blue;
                        }
                    }
                }
            }
            .description {
                margin-top: .4rem;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                padding: .5rem;
                span {
                    font-size: .9rem;
                    display: inline-block;
                    margin: .25rem 1rem .25rem 0;
                    color: $grey;
                    i {
                        margin-right: 5px;
                    }
                    &.version {
                        width: 100%;
                        display: block;
                        margin: .5rem 0 .25rem 0;
                    }
                    a {
                        color: $blue;
                        &:hover {
                            color: $white;
                        }
                    }
                }
                .availability {
                    width: 100%;
                    display: flex;
                    margin: 0.5rem 0 0.25rem 0;
                    align-items: center;
                    .light {
                        background-color: green;
                        border-radius: 0.5rem;
                        height: 1rem;
                        width: 1rem;
                        opacity: 0.3;
                        filter: blur(0.1rem);
                        animation: pulse 2s ease infinite;
                    }
                    span {
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
}