//bio
body {
    #bio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em;
        .vitals {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            // pfp image 
            .pfp {
                max-width: 100px;
                border-radius: 50%;
            }
            // titles
            .title {
                display: flex;
                justify-content: flex-start;
                margin-left: 1.5rem;
                .pronoun {
                    display: inline-block;
                    margin-left: 5px;
                    font-size: .9rem;
                    font-weight: 300;
                    font-style: italic;
                }
                .category {
                    flex: 100%;
                }
            }
        }
    }
}