//main 
body {
    #main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // nav 
        .navigation {
            max-width: 100%;
            padding: 1rem;
            ul {
                display: flex;
                flex-wrap: nowrap;
                justify-content: flex-start;
                width: 100%;
                padding: 5px;
                list-style-type: none;
                margin: 0;
                max-width: 100%;
                a {
                    margin: 0 auto 0 0;
                    position: relative;
                    &.active {
                        &:after { // gonna make this a cooler feature later 
                            content: "";
                            width: 95%;
                            margin: 0 auto;
                            height: 2px;
                            border-radius: 4px;
                            left: 50%;
                            transform: translateX(-50%);
                            position: absolute;
                            bottom: -8px;
                            background: $blue;
                        }
                    }
                }
            }
        }
        // content cards 
        .card {
            margin-top: .5rem;
            padding: 1rem 0;
            display: none;
            opacity: 0;
            visibility: hidden;
            transition: opacity 1s ease;
            margin-bottom: 1rem;
            &.active {
                display: block;
                opacity: 1;
                visibility: visible;
            }
            //HEADING
            .heading {
                text-transform: uppercase;
                font-weight: bold;
                padding-left: 1.5rem;
            }
            //ENTRIES
            .entry {
                padding: 1.5rem;
                &:nth-child(even) {
                    background: rgba(0, 0, 0, .2);
                }
                .top {
                    width: 100%;
                    max-width: 100%;
                    > h3 {
                        display: inline-block;
                        margin-top: 0;
                        margin: 0 0 .3rem 0;
                    }
                    .external-link {
                        display: inline-block;
                        margin-left: 8px;
                    }
                    .year {
                        display: block;
                        font-weight: 100;
                        margin: .3rem 0 .3rem 0;
                    }
                    .sub {
                        margin: .3rem 0 .3rem 0;
                        font-weight: 300;
                    }
                }
                ol {
                    list-style-type: disc;
                }
                ul {
                    a {
                        line-height: 24px;
                        display: block;
                        font-weight: bold;
                    }
                }
                a {
                    color: $blue;
                    &:hover {
                        color: $white;
                    }
                }
            }
        }
        // specialized sections 
        #overview {
            padding: 1rem 1.5rem;
        }
        #skills {
            .skill-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 0 auto;
                width: 98%;
                .skill-block {
                    padding: .5rem;
                    background-color: $blue;
                    font-size: 1rem;
                    border-radius: 8px;
                    margin-top: 1rem;
                    font-family: $mont;
                    font-weight: bold;
                    margin-right: 10px;
                    box-sizing: border-box;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
                }
            }
        }
    }
}