//main 
body {
    #main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em;
        .navigation {
            width: 100%;
            ul {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-evenly;
                width: 100%;
                padding: 5px;
                li {
                    flex: 1;
                    display: inline-block;
                    text-align: center;
                }
            }
        }
    }
}