/* Base Styles */

body {
    font-size: 16px;
    margin: 0;
    background: rgb(1,0,4);
    background: linear-gradient(14deg, rgba(1,0,4,1) 0%, rgba(0,8,92,1) 100%);
    color: #FFF;
    display: flex;
    flex-direction: column;
}

