// colors 
$grey: #E7E7E7;
$white: #FFF;
$blue: #809fff;

// special colors 
$codeGreen: #005a00;
$techColor: #eabfff;
$etcColor: #b3a589;

//fonts 
$mont: 'Montserrat', sans-serif;

// animations
@keyframes pulse {
  35% {
    opacity: 0.7;
/*     transform: scale(1.05); */
    filter: blur(0.3rem);
  }
}